/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'gotham';
    src: url('../fonts/GothamLight.ttf');
}
@font-face {
    font-family: 'gothammedium';
    src: url('../fonts/GothamMedium.ttf');
}
@font-face {
    font-family: 'gothambold';
    src: url('../fonts/GothamBold.ttf');
}
/* Custom */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/** Top Panel **/
#top-panel {
    background: #d2ebf9;
    font-family: 'gotham';
}
#top-panel .list-inline {
    margin-bottom: 0;
}
#top-panel .top-info {
    padding: 10px;
    color: #333
}
#top-panel .top-info a { text-decoration: none; color: inherit}


/** Top Panel Level 2 **/
#top-panel-level-2 ul.nav li { border-right: 1px solid #a2b0bf; }
#top-panel-level-2 ul.nav li:last-child { border-right: none }
#top-panel-level-2 .nav { padding: 10px; }
#top-panel-level-2 .nav > li > a { padding: 0px 15px; color: #777 }
#top-panel-level-2 .navbar { margin-bottom: 0 }
#top-panel-level-2 .navbar-brand { height: 135px}

/** Main Search **/
#main-search input, #main-search select, #main-search button {
    height: 40px;
    border-radius: 0;
}
#main-search .form-control{
    width:50%;
}

/** Navigation **/
#navigation .navbar { background-color: #d2ebf9; text-transform: uppercase; margin-bottom: 0 }
#navigation .navbar-nav > li > a { color: #777;}
#navigation .navbar-nav > li > a:hover { background-color: #dcb966}

#phone-info {
    font-size: 25px;
    color: #173a5e;
    font-family: 'gothambold';
}
#email-info {
    font-family: 'gotham';
    color: #365473;
}

/** Slider **/
ul#home-slider li img { width: 100% }

#home-info-banner {
    margin: 40px 0;
    position: relative;
    background:
        /* top, transparent red */
    linear-gradient(
    rgba(178, 220, 245, 0.5),
    rgba(178, 220, 245, 0.5)
    ),
    /* bottom, image */
    url("../img/banner-info.jpg");
    font-family: 'gothammedium';
    padding: 63px 0;
    font-size: 16px;
    letter-spacing: 2px;
    color: #263952;
}

/** Products **/
.products {
    font-family: 'gotham';
    font-size: 14px;
}
.products .caption a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}
.products .product-image-container {
    min-height: 300px;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
}
.products .product-image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.products .btn-add-to-cart {
    border-radius: 0;
    margin-left: -10px;
}

/** Ratings **/
.ratings {
    color: #ffc861;
}

/** Blog Area **/
.blog-area {
    font-family: 'gotham';
}
.blog-area h4 {
    font-family: 'gothambold';
    font-size: 15px;
}
.blog-area h4 a {
    color: #444;
}
.blog-area .blog-image-container .blog-date-badge {
    width: 40px;
    height: 40px;
}

/** Button **/
.btn-add-to-cart {
    font-family: 'gothambold';
    background-color: #d2ebf9;
    color: #333;
}
.btn-add-to-cart:hover {
    background-color: #dcb966;
}

/** Page Title **/
h3.page-title { font-size: 18px; font-family: 'gothambold'; padding: 20px; margin-left: -25px}

/** Footer **/
#footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: #d2ebf9;
    font-family: 'gotham';
}
#caption_footer {
    font-family: 'gothambold';
    font-size: 20pt;
}
#footer h3 {
    font-family: 'gothambold';
    font-size: 14px;
}

#subscribe-form input, #subscribe-form button { border-radius: 0; }
#subscribe-form input {  background-color: #9dd2f2; }
.btn.btn-gold {  background-color: #dcb966; }
.btn.btn-blue {  background-color: #d2ebf9; }

/** Listing on Footer **/
#footer ul li {
    padding: 10px 0;
}
#footer ul li a {
    color: inherit;
    text-decoration: none;
}
ul.list-arrow-right li:before {
    content: '\f0da';
    font-family: 'FontAwesome';
    float: left;
    padding-right: 15px;
}
ul li.store-address:before {
    content: '\f041';
    font-family: 'FontAwesome';
    float: left;
    padding-right: 15px;
}
ul li.store-email:before {
    content: '\f0e0 ';
    font-family: 'FontAwesome';
    float: left;
    padding-right: 15px;
}
ul li.store-phone:before {
    content: '\f095';
    font-family: 'FontAwesome';
    float: left;
    padding-right: 15px;
}
#copyright {
    background-color: #9dd2f2;
    padding: 20px;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
