body{
	background:none;
}
.page-header{
	margin-top:0px;
}

body._has-modal {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.modals-overlay {
  z-index: 899;
}
.modal-slide,
.modal-popup {
  bottom: 0;
  left: 0;
  min-width: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
}
.modal-slide._show,
.modal-popup._show {
  visibility: visible;
}
.modal-slide._show .modal-inner-wrap,
.modal-popup._show .modal-inner-wrap {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-slide .modal-inner-wrap,
.modal-popup .modal-inner-wrap {
  background-color: #ffffff;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
  opacity: 1;
  pointer-events: auto;
}
.modal-slide {
  left: 44px;
  z-index: 900;
}
.modal-slide._show .modal-inner-wrap {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.modal-slide .modal-inner-wrap {
  height: 100%;
  overflow-y: auto;
  position: static;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform, visibility;
  transition-property: transform, visibility;
  transition-timing-function: ease-in-out;
  width: auto;
}
.modal-slide._inner-scroll .modal-inner-wrap {
  overflow-y: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-slide._inner-scroll .modal-header,
.modal-slide._inner-scroll .modal-footer {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.modal-slide._inner-scroll .modal-content {
  overflow-y: auto;
}
.modal-slide._inner-scroll .modal-footer {
  margin-top: auto;
}
.modal-slide .modal-header,
.modal-slide .modal-content,
.modal-slide .modal-footer {
  padding: 0 2.6rem 2.6rem;
}
.modal-slide .modal-header {
  padding-bottom: 2.1rem;
  padding-top: 2.1rem;
}
.modal-popup {
  z-index: 900;
  left: 0;
  overflow-y: auto;
}
.modal-popup._show .modal-inner-wrap {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.modal-popup .modal-inner-wrap {
  margin: 5rem auto;
  width: 75%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  transition-duration: .2s;
  -webkit-transition-property: -webkit-transform, visibility;
  transition-property: transform, visibility;
  transition-timing-function: ease;
}
.modal-popup._inner-scroll {
  overflow-y: visible;
}
.ie10 .modal-popup._inner-scroll,
.ie9 .modal-popup._inner-scroll {
  overflow-y: auto;
}
.modal-popup._inner-scroll .modal-inner-wrap {
  max-height: 90%;
}
.ie10 .modal-popup._inner-scroll .modal-inner-wrap,
.ie9 .modal-popup._inner-scroll .modal-inner-wrap {
  max-height: none;
}
.modal-popup._inner-scroll .modal-content {
  overflow-y: auto;
}
.modal-popup .modal-header,
.modal-popup .modal-content,
.modal-popup .modal-footer {
  padding-left: 3rem;
  padding-right: 3rem;
}
.modal-popup .modal-header,
.modal-popup .modal-footer {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.modal-popup .modal-header {
  padding-bottom: 1.2rem;
  padding-top: 3rem;
}
.modal-popup .modal-footer {
  margin-top: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.modal-popup .modal-footer-actions {
  text-align: right;
}
.modal-custom .action-close,
.modal-popup .action-close,
.modal-slide .action-close {
  background-image: none;
  background: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
}
.modal-custom .action-close:focus,
.modal-popup .action-close:focus,
.modal-slide .action-close:focus,
.modal-custom .action-close:active,
.modal-popup .action-close:active,
.modal-slide .action-close:active {
  background: none;
  border: none;
}
.modal-custom .action-close:hover,
.modal-popup .action-close:hover,
.modal-slide .action-close:hover {
  background: none;
  border: none;
}
.modal-custom .action-close.disabled,
.modal-popup .action-close.disabled,
.modal-slide .action-close.disabled,
.modal-custom .action-close[disabled],
.modal-popup .action-close[disabled],
.modal-slide .action-close[disabled],
fieldset[disabled] .modal-custom .action-close,
fieldset[disabled] .modal-popup .action-close,
fieldset[disabled] .modal-slide .action-close {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.modal-custom .action-close > span,
.modal-popup .action-close > span,
.modal-slide .action-close > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.modal-custom .action-close:before,
.modal-popup .action-close:before,
.modal-slide .action-close:before {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 14px;
  color: #8f8f8f;
  content: '\e616';
  font-family: 'luma-icons';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.modal-custom .action-close:hover:before,
.modal-popup .action-close:hover:before,
.modal-slide .action-close:hover:before {
  color: inherit;
}
.modal-custom .action-close:active:before,
.modal-popup .action-close:active:before,
.modal-slide .action-close:active:before {
  color: inherit;
}
.modal-custom .action-close:hover:before,
.modal-popup .action-close:hover:before,
.modal-slide .action-close:hover:before {
  color: #1a1a1a;
}
.modal-custom .action-close {
  margin: 25px;
}
.modal-popup .modal-title {
  border-bottom: 1px solid #c1c1c1;
  font-weight: 300;
  padding-bottom: 10px;
  font-size: 26px;
  margin-bottom: 0;
  min-height: 1em;
  word-wrap: break-word;
}
.modal-popup .action-close {
  padding: 20px;
}
.modal-slide .action-close {
  padding: 2.1rem 3rem;
}
.modal-slide .page-main-actions {
  margin-bottom: -12.9rem;
  margin-top: 2.1rem;
}
.modals-overlay {
  background-color: rgba(51, 51, 51, 0.55);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
body._has-modal-custom .modal-custom-overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 899;
}
.product.info.detailed:before {
    content: "";
    display: block;
    clear: both;
}
.product.data.items {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
.product.data.items > .item.title {
  box-sizing: border-box;
  float: none;
  width: 100%;
}
.product.data.items > .item.title > .switch {
  display: block;
}
.product.data.items > .item.content {
  box-sizing: border-box;
  display: block;
  float: none;
  margin: 0;
}
.product.data.items > .item.content:before,
.product.data.items > .item.content:after {
  content: '';
  display: table;
}
.product.data.items > .item.content:after {
  clear: both;
}
.product.data.items > .item.content.active {
  display: block;
}
.product.data.items > .item.title {
  margin: 0;
}
.product.data.items > .item.title > .switch {
  border-top: 1px solid #cccccc;
  height: 40px;
  padding: 1px 10px 1px 10px;
  font-weight: 600;
  line-height: 40px;
  font-size: 1.4rem;
  color: #333333;
  text-decoration: none;
}
.product.data.items > .item.title > .switch:visited {
  color: #333333;
  text-decoration: none;
}
.product.data.items > .item.title > .switch:hover {
  color: #333333;
  text-decoration: none;
}
.product.data.items > .item.title > .switch:active {
  color: #333333;
  text-decoration: none;
}
.product.data.items > .item.title:not(.disabled) > .switch:active,
.product.data.items > .item.title.active > .switch,
.product.data.items > .item.title.active > .switch:focus,
.product.data.items > .item.title.active > .switch:hover {
  padding-bottom: 1px;
}
.product.data.items > .item.content {
  background: #ffffff;
  margin: 0;
  padding: 10px 10px 30px;
}
.product.data.items .item.title a {
  position: relative;
  text-decoration: none;
}
.product.data.items .item.title a:after {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: inherit;
  color: inherit;
  content: '\e622';
  font-family: 'luma-icons';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.product.data.items .item.title a:after {
  position: absolute;
  right: 10px;
  top: 1px;
}
.product.data.items .item.title.active a:after {
  content: '\e621';
}
.product.data.items .value p:last-child {
  margin-bottom: 0;
}
.product.data.items .table-wrapper {
  margin: 0;
}
.product.info.detailed {
  clear: both;
  margin-bottom: 30px;
}
.product.info.detailed .additional-attributes {
  width: auto;
  border: none;
}
.product.info.detailed .additional-attributes > thead > tr > th,
.product.info.detailed .additional-attributes > tbody > tr > th,
.product.info.detailed .additional-attributes > tfoot > tr > th,
.product.info.detailed .additional-attributes > thead > tr > td,
.product.info.detailed .additional-attributes > tbody > tr > td,
.product.info.detailed .additional-attributes > tfoot > tr > td {
  border: none;
}
.product.info.detailed .additional-attributes > thead > tr > td,
.product.info.detailed .additional-attributes > tbody > tr > td,
.product.info.detailed .additional-attributes > tfoot > tr > td {
  padding: 5.5px 5px 10px 5px;
}
.product.info.detailed .additional-attributes > thead > tr > th,
.product.info.detailed .additional-attributes > tbody > tr > th,
.product.info.detailed .additional-attributes > tfoot > tr > th {
  padding: 5.5px 30px 10px 0;
}
.product.info.detailed {
	padding-top: 25px;
}
.no-padding{
	padding:0px;
}
.box-tocart .qty {
    height: 45px;
    text-align: center;
    font-size: 22px;
}
.control-label {
    color: #272525;
    font-size: 100%;
    PADDING: 0;
}
.product-social-links{
	display:none;
}
.product-info-main .page-title , .product-info-main  .price-box{
	font-family: gothammedium;
    font-size: 18px;
    padding: 10px 0;
	margin: 0;
}
.product-info-main  .price-box{
	font-family:gothambold
}
.product-info-main  .product-reviews-summary ,.product-info-stock-sku {
	display:none;
}

.product-info-main  .form-group {
    margin-bottom: 15px;
    display: block;
    height: auto;
    overflow: hidden;
}

.product-info-main  .text-left{
	text-align:left;
}
.submenu{
	display:none;
}